*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
header{
    width: 100%;
    font: 900 clamp(.875em, 7.25vw, 5em) Arial black, sans-serif;
    text-align: center;
    float: left;
    height: 210px;

}
.melting-text-container {
    position: relative;
    overflow: hidden;
    padding: 2%;
}

.melting-text {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #fff;
    position: relative;
    animation: melt 2s infinite ease-in-out;
    background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff);
    -webkit-background-clip: text;
    color: transparent;
}

.melting-text::before,.melting-text::after {
    content: 'rzimon';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ffe600, #4917d4, #f80000);
    -webkit-background-clip: text;
    color: transparent;
    z-index: -1;
    transform: scaleY(1);
    opacity: 0.5;
    animation: drip 4s infinite ease-in-out;
}

.melting-text::after {
    filter: blur(10px);
    opacity: 0.3;
}
@keyframes melt {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

@keyframes drip {
    0%, 100% {
        transform: scaleY(1);
        opacity: 0.5;
    }
    50% {
        transform: scaleY(1.5);
        opacity: 0.7;
    }
}
#photo{
    width: 350px;
    height: 350px;
    border: solid 2px white;
    border-radius: 15%;
}
#music{
    padding-top: 5%;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    float: left;
    margin-bottom: 4%;

}
#haer{
    float: left;
    width: 100%;
    height: 100px;
}

#photo{
    transition: transform 250ms;
}

#photo:hover {
  transform: translateY(-1vh);
}
h3{
    color: white;
    text-align: center;
    
}
h3:hover{
    color:rgb(144, 19, 228);
}
#MMM{
    height: 400px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Kontakt{
    text-align: left;
    text-decoration: underline;
    color: white;
}
#linkacz{
    text-decoration: none;
    color: #000000;
    text-shadow: -2px -2px rgba(255, 255, 255, 0.712);
    
}

#inquiry:hover{
    color: #ff0000;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
a{
    text-decoration: none;
}
